@page
@model LB_2.Pages.Units.DetailsModel

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.Image)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.FormFactorMotherBoard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.FormFactorMotherBoard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Height)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Price)
        </dd>
    </dl>
</div>

<div class="ms-5">
    <a asp-page="./Edit" asp-route-id="@Model.Unit.Id" class="btn btn-success me-md-2">Edit</a> 
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
