@page
@model LB_2.Pages.VideoCards.DetailsModel

<div>
    <h4>VideoCard</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.Name)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.Image)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard.SeriesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.SeriesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard.VideoMemory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.VideoMemory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard.ClockFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.ClockFrequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.Price)
        </dd>
    </dl>
</div>

<div class="ms-5">
    <a asp-page="./Edit" asp-route-id="@Model.VideoCard.Id" class="btn btn-success me-md-2">Edit</a> 
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
